/* styles that were only being used in specific components have been moved to the relevant folder and .css file - MCS */

* {
  box-sizing: border-box;
  /* The color below matches the color of the admin log in container */
  color: rgba(15, 15, 15, 0.811);
}



html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

img {
  width: 25%;
  height: auto; /* maintains the aspect ratio */
  max-height: 70vh; /* limits the maximum height to 7% of the viewport height */
  object-fit: contain; /* scales the image to fit within the container while maintaining its aspect ratio */
}

/* Gobal Btn  */
.button {
  padding: 6px;
  margin: 6px;
}

.add_form {
  border: 1px solid red;
}

.timesheet-grid {
  border: 3px solid rgb(7, 67, 7);
  margin: 6%;
}

.btn-container {
  position: relative;
}

.login-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background: rgb(42, 142, 44);
  border: 1px solid rgb(142, 231, 163);
  box-shadow: 0 1px 2px 0 rgba(22, 135, 24, 0.109);
  color: black;
  margin: 5px;
  padding: 10px 20px;
}

.sign-out-btn {
  position: absolute;
  top: 5;
  right: 10;
  border-radius: 5px;
  background-color: #075322dc;
  border: 1px solid rgb(142, 231, 163);
  color: white;
  padding: 10px 20px;
}

.app-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: fixed; */
}

.app-display img {
  width: 380px;
}

.pin-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(7, 67, 7, 0.594);
  box-shadow: 0 0 4px rgb(4, 4, 4);
  box-shadow: 0 0 4px rgb(47, 112, 47);
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 5px;
  width: 140px;
  border-radius: 10px;
  height: 59px;
  width: 160px;
}

