* {
  box-sizing: border-box;
  /* The color below matches the color of the admin log in container */
  color: rgba(15, 15, 15, 0.811);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

img {
  width: 25%;
  height: auto; /* maintains the aspect ratio */
  max-height: 70vh; /* limits the maximum height to 75% of the viewport height */
  object-fit: contain; /* scales the image to fit within the container while maintaining its aspect ratio */
}
/* Gobal Btn  */
.button {
  padding: 6px;
  margin: 6px;
}

.add_employee {
  display: block;
  border: 1px solid black;
  margin: 5px;
  width: 40%;
  border-radius: 10px;
}

.add_form {
  border: 1px solid red;
}

.timesheet-grid {
  border: 3px solid rgb(7, 67, 7);
  margin: 6%;
}

.update_employee {
  width: 70%;
  display: block;
  border: 1px solid black;
  margin: 5px;
}

.admin_validation h3 {
  border: 3px solid rgb(7, 67, 7);
  color: rgb(7, 67, 7);
  padding: 10px;
}

.btn-container {
  position: relative;
}

.login-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background-color: rgba(67, 66, 66, 0.806);
  color: white;
  padding: 10px 20px;
}

.sign-out-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background-color: rgba(67, 66, 66, 0.806);
  color: white;
  padding: 10px 20px;
}

.admin-dashboard {
  border: 3px solid rgb(7, 67, 7);
}

.app-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-display img {
  width: 380px;
}

.validation {
  margin-top: 5%;
  align-items: center;
  text-align: center;
}
