.pinpad_container2 {
  border-radius: 10px;
  margin: 0 auto;
  border: 2px solid rgba(6, 121, 6, 0.497);
  box-shadow: 0 0 6px rgb(47, 112, 47);
  width: 44%;
  /* margin-bottom: 30px; */
  padding-bottom: 30px;
  padding-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(0 0 15px #9ea7a951);
}
.pinpad_container2 .pin-display2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-left: 10px;
}
.pinpad_info {
  display: inline-block;
  justify-content: space-between;
  display: flex;
  justify-content: row;
  align-items: space-evenly;
}

.pinpad_info > :first-child  {
  margin-right: 20px; /* Add space between labels */
  font-size: 28px;
  /* margin-left: 20px; Add space between labels */
  /* padding-right: 20px; */
  justify-items: auto;
}  

.reimbursements {
  font-size: 24px;
}