.form-container {
  flex-direction: row;
  /* Entire page width */
  width: 100%;
  /* Entire page height */
  height: auto;
  /* Responsive layout */
  display: flex;
  /* Display vertically at the center */
  justify-content: center;
  /* Display horizontally at the center */
  align-items: center;
  /* Background image from unsplash */
  /* background-image:url('https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); */
  background-image: url('../../../TimeCroc.png');
  /* To cover the entire screen */
  background-size: contain;
  /* Image position */
  background-position: left;
  background-repeat: no-repeat;
}

.form {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #075322dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 24px 0 rgba(142, 231, 163, 0.655);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 10px;
  border: 1px solid rgba(15, 15, 15, 0.369);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.form-group input[type='email'],
input[type='admin_password'] {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  /** Medium font **/
  font-size: 16px;
  /** Visible color **/
  color: rgb(29, 28, 28);
  /** Dark background with some opacity **/
  background-color: rgba(0, 0, 0, 0.5);
	border-color: rgba(142, 231, 163, 0.655);

}

.form-group h2 {
  color: rgb(247, 242, 242);
}

.button-style {
  border-radius: 5px;
	color: rgb(85, 84, 84);
  background-color: #ffff;
}
